<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>Your bot is analyzing your Twitter use.</h1>
    <a href='/account'>Account</a>
    <a href='/logout'>Logout</a>
    <br>
    <p>Soon your bot will be able to use twitter just as well as you, maybe even better.</p>
  </body>
</html>