<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="App">
  <%- include head.ejs %>
  <body>

  <script type="text/javascript">
            window.user = <%- JSON.stringify(user) %>;
  </script>
  <div class="container">
    <div class="row">
      <ul class="nav nav-pills navbar-right">
        <li><a href="#" ng-hide="session.isLoggedIn" ng-click="session.facebookLogin()">Login</a></li>
        <li><a href="#" ng-show="session.isLoggedIn" ng-click="session.logout()">Logout</a></li>
      </ul>
    </div>
    
    	<!--Angular Dynamic Content-->
    	<div class="row" ng-view></div>

  </div>
  </body>
</html>