<div class="col-md-2">
	<ul class="nav nav-pills nav-stacked">
		<li><a href="/">About</a></li>
		<li class="active"><a href="/id" ng-show="session.isLoggedIn">User</a></li>
	</ul>
	<ul class="nav nav-pills nav-stacked">
      <li><a href="" ng-click="fillDB()" ng-disabled="loading" ng-hide="hide">Collect Data</a></li>
      <li><a href="" ng-click="start()" ng-disabled="loading" ng-hide="render('start')">Start</a></li>
      <li><a href="" ng-click="stop()" ng-disabled="loading" ng-hide="render('stop')">Stop</a></li>
    </ul>
</div>

<div class="col-md-8">
	<h1 ng-bind="session.currentUser.twitter.username"></h1>
	<p>{{message}}</p>
</div>