<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Thanks for using Twotto, <%=user.username%></h1>
    <a href='/'>Home</a>
    <a href='/ping'>Ping</a>
    <a href='/launchbot'>Launch</a>
    <a href='/logout'>Logout</a>
    <p><%=JSON.stringify(user)%></p>
  </body>
</html>