<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Your bot has launched!</h1>
    <a href='/account'>Account</a>
    <a href='/stopbot/<%= user %>'>Stop</a>
    <a href='/logout'>Logout</a>
    <br>
    <p>Thanks for using Twotto, <%= user %></p>
  </body>
</html>